PORT=4000
DB_HOST='127.0.0.1'
DB_USER=telegram-auto-sender
DB_PASSWORD=6HJncTRSKxsMAnHn
DB_NAME=telegram-auto-sender

JWT_SECRET=langofficial_19
MAIL_USER=langofficial19@gmail.com
MAIL_PASS=fxjgknirvvibpaod

API_ID=36689349
API_HASH=84ff406dfd95d8cb4d2effc00acbe4f5
SESSION_STRING=1BQANOTEuMTA4LjU2LjE3OAG7P9mnwqE2LIRYncRDNDNIXQMGjjLHm3mQPrPVeh0M9VJYwoxaU+2Siugj5t4PvlvuGQ7mFSIo2HEeQvAj0Al+AtTjojyqlcC8CaLnJjA0oXjuZKuuAj+WX9D1NG6SiZwFWTrYyLXxYA2763PrwvhZj70ZvcUtSxPr3IstPsflWn92YelXv55UYzk3hKraZ92Wk/Y5/aUPuXulzFZf66pGtBxGd3DsOIhQ1TrEVyp8wtaBEWA4Sc73ZCYhyAigcHB3hqLNCzRLRqEb5kDYZrGtwcySOYoVFfjcQ7KbT93J66wIMqwWG8y9fOfa7XAfDxBD7sACNgt8mRl6kMaRlPoVZQ==


