PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=12345678
DB_NAME=telegram_db

JWT_SECRET=
MAIL_USER=langofficial19@gmail.com
MAIL_PASS=jcexsuuspzflwtgi

API_ID=36689349
API_HASH=84ff406dfd95d8cb4d2effc00acbe4f5
SESSION_STRING=1BQANOTEuMTA4LjU2LjExMwG7DvkvRMFpIl0RBelV3MvvnWMYIeoIPgREY0HzbgX/mN6i4hxtDj6pJsVGUbxGq4TsxJVQ4hvxDT/7K6FgIgsoy4m+ex95+G6Uz/CiOwqlLLSJzMWySfF0psKGvEgNnqEukOE3QCgnTZrRPCZhsn4SX3/GgXVAJCACZ/aV+5RI8i04JxOePHqOTOPJqbbldeianv2in6ZfhEOckIVnjpYq5nlg9ctF+jxbqpr3csmVxfaIYioD91o0M44qSishEk2hkbL1xpwEkvWNjtHSbLswb8VZaLPcggjFDGXqimzW16tI6KVUU2wkwe/nGQ7a+wiPRAcr+xMBGIPM7c850swMkA==


